.tag-selector {
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
}

.selected-tags,
.available-tags {
    margin-top: 8px;
}

.tag {
    display: inline-flex;
    align-items: center;
    margin: 4px;
    padding: 4px 8px;
    background-color: #f1f1f1;
    border-radius: 16px;
    cursor: pointer;
    color: #000000;
}

.selected:hover {
    background-color: #e6e6e6;
}

.available:hover {
    background-color: #d9d9d9;
}

button {
    margin-left: 4px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}